@font-face {
  font-family: IRANYekan-Heavy;
  src: url(../font/IRANYekan/IRANYekanXFaNum-Heavy.woff) format("woff"),
    url(../font/IRANYekan/IRANYekanXFaNum-Heavy.woff2) format("woff2");
  font-style: normal;
}
@font-face {
  font-family: IRANYekan-XBlack;
  src: url(../font/IRANYekan/IRANYekanXFaNum-ExtraBlack.woff) format("woff"),
    url(../font/IRANYekan/IRANYekanXFaNum-ExtraBlack.woff2) format("woff2");
  font-style: normal;
}
@font-face {
  font-family: IRANYekan-Bold;
  src: url(../font/IRANYekan/IRANYekanXFaNum-Bold.woff) format("woff"),
    url(../font/IRANYekan/IRANYekanXFaNum-Bold.woff2) format("woff2");
  font-style: normal;
}
@font-face {
  font-family: IRANYekan-Medium;
  src: url(../font/IRANYekan/IRANYekanXFaNum-Medium.woff) format("woff"),
    url(../font/IRANYekan/IRANYekanXFaNum-Medium.woff2) format("woff2");
  font-style: normal;
}
@font-face {
  font-family: IRANSans-Bold;
  src: url(../font/IRANSans/IRANSansXFaNum-Bold.woff) format("woff"),
    url(../font/IRANSans/IRANSansXFaNum-Bold.woff2) format("woff2");
  font-style: normal;
}
@font-face {
  font-family: IRANSans-Medium;
  src: url(../font/IRANSans/IRANSansXFaNum-Medium.woff) format("woff"),
    url(../font/IRANSans/IRANSansXFaNum-Medium.woff2) format("woff2");
  font-style: normal;
}

