$secondary-1-10: #e4e1f3;
$secondary-1-20: #cac4e7;
$secondary-1-100: #24099a;
$secondary-2-10: #e1e0e5;
$secondary-2-20: #c4c2cc;
$secondary-2-100: #0b032d;
$gray-0: #ffffff;
$gray-1: #f2f2f2;
$gray-2: #e6e6e6;
$gray-3: #dbdbdb;
$gray-4: #9d9d9d;
$gray-5: #777777;
$gray-6: #4a4a4a;


$breadcrumb-divider: url('../img/arrow-left-1.svg');
$breadcrumb-divider-color: $gray-5;

$dropdown-toggle :url('../img/arrow-down.svg');
